@font-face {
    font-family: Bronx;
    src: url(../fonts/Bronx.ttf);
}

.container-a1 {
    text-align: left;
    vertical-align: middle;
    display: block;
}

.container-a2 {
    text-align: left;
    vertical-align: middle;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title img {
    text-shadow: 1px 1px #2B2A28;
}

.title {
    font-size: 4em;
    margin-bottom: 40px;
    color: #DC7A23;
    text-shadow: 2px 2px #2B2A28;
}

.social-btn {
    font-size: 2em;
    letter-spacing: 1em;
    color: #DC7A23;
    text-shadow: 3px 3px #2B2A28;
    transition: .5s;
}

.social-btn:hover {
    transform: scale(1.3);
    color: #DC9A23;
    background-color: transparent !important;
}

.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
    opacity: .2;
}

.btn-fucker {
    font-family: Bronx;
    font-size: 21px;
    background-color: #DC7A23;
    color: #2b2a28;
    text-shadow: none;
    transition: .5s;
}

.btn-fucker:hover {
    transition: .5s;
    transform: scale(1.3);
    background-image: repeating-linear-gradient(0deg, #DC7A23, #DC9A23);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 42, 40, .97);
    z-index: 5000;
    display: none;
    overflow: hidden;
}

.pit_text {
    font-weight: 900;
    color: #DC7A23;
    text-shadow: 1px 1px #2b2a28;
}

.pit_feedback input[type='text'] {
    font-family: "Courier New";
    background-color: #2b2a28;
    border: solid 2px #DC7A23;
    font-size: .8em;
    color: #DC7A23;
    padding: 3px 9px;
    transition: .5s;
    vertical-align: middle;
    width: 70%;
}

.pit_feedback input[type='text']:hover {
    box-shadow: 0 0 15px #DC9A23;
}

.pit_feedback input[type='text']:focus {
    transform: scale(1.3);
    box-shadow: 0 0 25px #DC9A23;
    border: solid 5px #DC9A23;
}

.pit_feedback input[type='submit'] {
    border: solid 2px #DC7A23;
    background-color: #2B2A28;
    color: #DC7A23;
    font-size: 1.3em;
    vertical-align: middle;
    transition: .5s;
}

.pit_feedback input[type='submit']:hover {
    border: solid 2px #DC9A23;
    box-shadow: 0 0 25px #DC9A23;
}

.subscribe_text {
    padding-bottom: 0;
}

.sponsors_text {
    text-shadow: 3px 3px 5px #3B3a38;
}

.tag {
    position: relative;
    bottom: 30px;
    left: 15px;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 75%;
    text-decoration: none !important;
}

.tag:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.filter-button {
    border: solid 2px #DC7A23;
    background-color: #2B2A28;
    color: #DC7A23;
    font-size: 1.5em;
    vertical-align: middle;
    transition: .5s;
    padding: 5px 10px;
    border-radius: 5px;
}

.filter-button:hover {
    color: #DCAA23;
    border: solid 2px #DC9A23;
    box-shadow: 0 0 25px #DC9A23;
    transform: scale(1.25);
    text-decoration: none;
}

.grid-item {
    overflow: hidden;
    padding: 0 !important;
    line-height: 10px;
    border-radius: 0;
    background-color: #eeedeb;
    color: #2B2A28;
    z-index: 100;
    box-shadow: 0 0 5px #000;
    margin: 5px;
}

.grid-item:hover {
    background-color: #2B2A28;
    box-shadow: 0 0 10px #000;
    color: #DC7A23;
    z-index: 101;
    transform: scale(1.01);
    transition: .5s;
}

.grid-item:hover .article-title {
    color: #DCAA23;
}

.grid-item:hover .more-block {
    display: block;
}

.grid-item img {
    margin-bottom: 0;
    width: 100%;
}

.article-title {
    padding: 10px;
    display: block;
    font-weight: bold;
    color: #282128;
    transition: 0.3s;
    text-align: left;
    line-height: 15px;
}

.article_date {
    display: inline-block;
    padding: 3px;
    font-size: 75%;
}

.views {
    font-size: 80%;
    padding: 10px 15px 0;
    display: inline-block;
    margin: 0 -10px 3px 0;
    float: right;
}

.article-information {
    padding: 0 5px;
}

.article-info {
    display: block;
}

.more-block {
    transform: scale(.7);
    display: none;
    transition: .5s;
    margin: -30px 0;
}

.lang {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-decoration: none !important;
    border-radius: 50%;
    border: solid 2px;
    padding: 3px 0;
    font-size: 1em !important;
}

.pagination {
    display: table;
    padding-left: 0;
    margin: 0 auto;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #DC7A23;
    background-color: #2B2A28;
    border-color: #2B2A28;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color: #2B2A28;
    background-color: #DC9A23;
    border-color: #DC9A23;
}
.pagination>li>a, .pagination>li>span {
    color: #DC7A23;
    background-color: #fff;
    border: 1px solid #ddd;
}
.no-data{
    text-align: center;
    display: block;
    width: auto;
    position: initial !important;
    font-size: 2em;
}
.page-lang{
    color: #DC9A23 !important;
}
.page-lang{
    text-shadow: none !important;
}
.lang-block-page{
    display: block;
    padding: 10px;
    letter-spacing: 0px;
    margin: 0 auto;
}

.comments{
    font-size: 80%;
    padding: 10px 15px 0;
    display: inline-block;
    margin: 0 0 3px -10px;
    float: left;
}